* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family: 'Roboto';
    font-size: 100%;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
    color: white;
    -webkit-overflow-scrolling: touch;
}

#mainContainer
{
  position: fixed;
  width:100%;
  height:100%;
}

.filler
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: display 1s; /* For Safari 3.1 to 6.0 */
  transition: display 1s;
  cursor: pointer;
}


.filler.hide{
  opacity:0;
  height: 0;
  display: none;
}

.container,
.gclass{
  position: relative;
  width: 100%;
  height: 100%;
}

.fillerEffect{
  filter: blur(3px);
  -webkit-filter:blur(3px);
  -moz-filter:blur(3px);
  -o-filter:blur(3px);
  -ms-filter:blur(3px);
}

.form{
  color:black;
  overflow-y: scroll;
}


.navigationBar {
    position: relative;
    width: 100%;
    color: white;
    font-size: 125%;
    height: 6%;
    border-style: groove;
    border-width: 1px 0px;
    border-color: #fff;
    background: #983897;
    min-height: 3em;
}

.headerContainer {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}

.headerContainer > div.title {
  text-align: center;
  font-weight: normal;
  font-size: 96%;
  margin: 5% 0 1% 0;
}

.menuBtContainer {
  z-index: 89;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 25%;
  float:left;
  position: relative;
  margin: 0! important;
}


.menuBtContainer.right
{
    float: right;
}
.menuBtTitle {
  float: left;
  text-align: center;
  width: 50%;
  position: relative;
  color: white;
  height: 68%;
  padding-top: 20%;
}
.menuBtTitle.titleRight {
  float: right;
}

#logout
{
  background-color: inherit;
  color: white;
}
.controller
{
  position: relative;
  width: 100%;
  height: 94%;
  color:black;
}

.buttonContainer {
    position: relative;
    margin: 4em 0em auto !important;
    text-align: center;
}

.buttonName {
    background-color: #222;
    padding: 1em;
    margin: 0.25em auto !important;
    width: 68%;
    height: 1.5em;
    cursor: pointer;
}

#loginscreen{
  background-color: #993998;
  background: -webkit-linear-gradient(#f896c8, #993998);
}

.loginContainer{
  top: 27%;
  height: 50%;
  width: 100%;
  position: fixed;
  min-height: 15em;
}

.loginField{
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
  font-family: Roboto;
  height: 20%;
}

.loginInput{
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  background:transparent;
  border-bottom: 0.1em solid rgba(250,250,250,0.7);
  outline: none;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 91%;
  position:relative;
  font-family: Roboto;
  font-size: medium;
  font-weight: 300;
  color: white;
}

/*for the dnataid and password labels*/

.loginlabel{
  position:relative;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2em;
  height: 5%;
}


.loginbtn{
  display: table;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 50px;
  border: 1px solid rgba(245,245,245,0.7);
  background-color: rgba(213,115,183,0.7);
  font-family: Roboto;
  font-weight: 200;
  font-size: 120%;
  outline:none;
  width: 50%;
  position:relative;
  padding: 2%;
  cursor: pointer;
  color:white;
}

.loginLoader
{
  position:relative;
  width:100%;
  margin-top: 10%;
}

.loginFiller
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 1;
  left: 0;
  top: 0;
  background-color: transparent;
}

.errorMsg {
  position: relative;
  color: orange;
  height: 6%;
  margin-top: 5%;
  margin-left: 10%;
  font-family: Roboto;
  width:83%;
}

.footer{
  position:fixed;
  height:12%;
  width:100%;
  bottom:0;
  text-align: center;
}

.metricLogo{
  position: relative;
  height: 40%;
}
.msfooter {
  font-family: Roboto;
  font-weight: 100;
  display: inline-block;
}

.msLogo{
  width: 45%;
  margin-bottom: -3%;
  display: inline;
}

.vfooter {
  font-family: Roboto;
  font-weight: 100;
  position: relative;
  height: 38%;
  width: 100%;
  margin-top: 2%;
}


 textarea
 {
   font-size: 80%;
 }

 input[type="search"]
 {
   font-size: 80%;
 }

.controller-enter {
  opacity: 0.01;
}

.controller-enter.controller-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.controller-leave {
  opacity: 1;
}

.controller-leave.controller-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*specfic to women transport request*/

.requestItem
{
  position: relative;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  height: 9%;
  padding: 5% 5% 2% 5%;
}
.requestItemDiv
{
  position: relative;
  height: 50%;
  width: 50%;
  float: left;
}

.requesterName
{
  color: #9E6E9D;
  font-weight: normal;
}

.requestDate
{
  text-align: right;
  font-size: 65%;
  font-weight: 500;
  margin-top: 2%;
  height: 40%;
}

.requesterManager
{
  font-size: 70%;
  font-weight: 500;
}

.requesterGroup
{
  text-align: right;
  font-size: 70%;
  font-weight: 300;
}

.requestDetailView {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.requestDetailViewRow {
  position: relative;
  height: 8%;
  width: 86%;
  margin: 5% 7% 0% 7%;
  margin-left: 7%;
}

.reqLabel {
    position: relative;
    color: #983897;
    font-weight: normal;
    font-size: 80%;
}

.reqValue {
    position: relative;
    font-weight: 400;
    font-size: 80%;
    margin-top: 2%;
}

.requestDetailViewCol {
    position: relative;
    width: 50%;
    float: left;
    height:100%;
}

.expandRow
{
  height: auto;
  display: table;
}

#acceptBtn
{
    background-image: url('../img/acceptbutton.svg');
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
    margin-top:8%;
}

#rejectBtn
{
  background-image: url('../img/rejectbutton.svg');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
  margin-top:8%;
}
