* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family: 'Roboto';
    font-size: 100%;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
    color: white;
    -webkit-overflow-scrolling: touch;
}

#mainContainer
{
  position: fixed;
  width:100%;
  height:100%;
}

.filler
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: display 1s; /* For Safari 3.1 to 6.0 */
  transition: display 1s;
  cursor: pointer;
}


.filler.hide{
  opacity:0;
  height: 0;
  display: none;
}

.container,
.gclass{
  position: relative;
  width: 100%;
  height: 100%;
}

.fillerEffect{
  filter: blur(3px);
  -webkit-filter:blur(3px);
  -moz-filter:blur(3px);
  -o-filter:blur(3px);
  -ms-filter:blur(3px);
}

.form{
  color:black;
  overflow-y: scroll;
}

#MS_INC_ACTUAL_INJURY
{
    height: 93%;
}


.navigationBar {
    position: relative;
    width: 100%;
    color: black;
    font-size: 125%;
    height: 6%;
    border-style: groove;
    border-width: 1px 0px;
    border-color: #fff;
    min-height: 1.82em;
}

.headerContainer {
  position: absolute;
  height: 100%;
  color: #0f88ca;
  text-align: center;
  width: 100%;
}

.headerContainer > div.title {
  text-align: center;
  font-weight: bold;
  font-size: 96%;
  margin: 0.5em 0 0.5em 0;
}

.menuBtContainer {
  z-index: 89;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 25%;
  float:left;
  position: relative;
  margin: 0! important;
}


.menuBtContainer.right
{
    float: right;
}
.menuBtTitle {
  float: left;
  background-color: #0f88ca;
  text-align: center;
  width: 50%;
  position: relative;
  color: white;
  height: 80%;
  padding-top: 8%;
}
.menuBtTitle.titleRight {
  float: right;
}

#logout
{
    background-color: white;
    color: #0f88ca;
}
.controller
{
  position: relative;
  width: 100%;
  height: 94%;
}


.gridIcon{
    width: 100%;
    height: 70%;
}

.gridName {
    width: 100%;
    text-align: center;
    font-size: 90%;
}

.gridContainer {
    position: relative;
    width: 97%;
    height: 97%;
    padding-left: 3%;
    padding-top: 3%;
    cursor: pointer;
}

.gridItem {
    position: relative;
    width: 47%;
    height: 23.8%;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
    background-color: #0f88ca;
    border-radius: 0.4em;
    cursor: pointer;
}


.buttonContainer {
    position: relative;
    margin: 4em 0em auto !important;
    text-align: center;
}

.buttonName {
    background-color: #222;
    padding: 1em;
    margin: 0.25em auto !important;
    width: 68%;
    height: 1.5em;
    cursor: pointer;
}

.loginicon{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0088ce;
  position: relative;
  color: black;
  height: 30%;
  width: 100%;
  background-image: url('../img/dnatalogo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loginscreen{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0088ce;
  height: 55%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  min-height: 15em;
}

.userdetails {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
  font-family: Roboto;
  height: 20%;
}

.loginFields{
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  background:transparent;
  border-bottom: 0.1em solid #0088ce;
  outline: none;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 91%;
  position:relative;
  font-family: Roboto;
  font-size: medium;
  font-weight: 300;
}

.pwdetails{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 10%;
  margin-top: 10%;
  position: relative;
  font-family: Roboto;
  height: 20%;
}

/*for the dnataid and password labels*/

.loginlabel{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position:relative;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2em;
  height: 5%;
}


.loginbtn{
  -webkit-appearance: none;
  -moz-appearance: none;
  display: table;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 50px;
  border: 1px solid #0088ce;
  background-color: #0088ce;
  font-family: Roboto;
  font-weight: 500;
  font-size: 120%;
  outline:none;
  width: 50%;
  position:relative;
  padding: 2%;
  cursor: pointer;
  color:white;
}

.loginLoader
{
  position:relative;
  width:100%;
  margin-top: 10%;
}

.loginFiller
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 1;
  left: 0;
  top: 0;
  background-color: transparent;
}

.errorMsg {
  position: relative;
  color: orange;
  height: 6%;
  margin-top: 5%;
  margin-left: 10%;
  font-family: Roboto;
  width:83%;
}

.footer{
  position:relative;
  height:13%;
  width:100%;
  color: #0088ce;
  bottom:0;
  text-align: center;
  margin-top: 2.5%;
  z-index: -1;
}

.metricLogo{
  position: relative;
  height: 40%;
}
.msfooter {
  font-family: Roboto;
  font-weight: 300;
  display: inline-block;
}

.msLogo{
  width: 50%;
  margin-bottom: -3%;
  display: inline;
}

.vfooter {
  font-family: Roboto;
  font-weight: 300;
  position: relative;
  height: 38%;
  width: 100%;
  margin-top: 2%;
}

.homecontroller {
    position: relative;
    width: 100%;
    height: 94%;
}

 .sectionEvenItem{
   position:relative;
   background-color: #0f88ca;
   height: 33.3%;
   width: 100%;
   cursor: pointer;
 }

.sectionOddItem{
  position:relative;
  background-color: #1c75bc;
  height: 33.3%;
  width: 100%;
  cursor: pointer;
}

.sectionIcon{
  position: relative;
  width: 100%;
  height: 60%;
  font-size: 4.2em;
  text-align: center;
  top: 19%;
  cursor: pointer;
}

.sectionName{
  position: relative;
  width: 100%;
  height:40%;
  text-align: center;
  font-family: Roboto;
  font-size: 1.25em;
  cursor: pointer;
 }

 .actualcontroller{
   position: relative;
   width: 100%;
   height: 94%;
   cursor: pointer;
 }

 .actualItem{
   position:relative;
   background-color: #0f88ca;
   height: 25%;
   width: 75%;
   margin: 10% auto;
   border-radius: 0.5em;
   cursor: pointer;
 }

 .actualIcon{
   position: relative;
   width: 100%;
   height: 60%;
   font-size: 3.9em;
   text-align: center;
   top: 14%;
   cursor: pointer;
 }

 .actualName{
   position: relative;
   width: 100%;
   height:40%;
   text-align: center;
   font-family: Roboto;
   font-size: 1.25em;
   top: 8%;
   cursor: pointer;
 }

 textarea
 {
   font-size: 80%;
 }

 input[type="search"]
 {
   font-size: 80%;
 }

.controller-enter {
  opacity: 0.01;
}

.controller-enter.controller-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.controller-leave {
  opacity: 1;
}

.controller-leave.controller-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
